<!DOCTYPE html>
<html lang="en">
<style>
    .body{
        background-color: rgb(110, 107, 107);
        text-align: center;
        font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
        display: inline;

    }
    
    

</style>
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include 'nav_bar.html'%}
    <br>
    
    <title>Welcome To My Sample Website!!</title>
</head>
<body class='body'>
    <br>
    <br>
    <h1>My Sample Website!!</h1>
    <div style="display: flex;flex-direction: column">
    <div>

    {% for item in product %}
    <div class="col-3">
        <a href="/product_detail_view/{{item.id}}/">
            <img width=200px src="/media/{{item.product_image}}/" alt="picture of product">
        </a>
        <p>{{item.name}}<br>{{item.description}}<br>Price(USD): ${{item.price}}</p>
        
        </div>
        {% endfor %}
    </div>
</div>
    <!-- This is a form to submit pics,use with attribute 'product_image on Product model' -->
    <!-- <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form> -->
</body>
</html> 
